@media (max-width: 750px) {
  /***footer***/
  #option_player svg {
    display: block;
  }
  #option_player {
    align-self: center;
  }
  /***player***/
   #footer_center {
    flex-shrink: 0;
    width: 55%;
  }
  #footer_left,#footer_right {
    flex-shrink: 1;
  }
  #footer_right svg {
    flex-shrink: 0;
  }

  #footer_left {
    padding-right: 0;
  }
  /***footer-CLOSE***/
}

/* smarphone */
@media (max-width: 480px) {

  #logo_md, aside span, #playlist, ul#list_myplaylist {
    display: none;
  }

  #section_user_upgrade {
    width:calc(100% - 60px);
  }

/***aside navbar***/
  #header_logo img#logo_xs {
    display: block;
    height: 35px;
    margin: auto;
  }

  #header_logo {
    height: 40px;
  }

  aside {
    width: 60px;
    padding-top: 5px;
    text-align: center;
  }
  #download_app {
    border: none;
    text-align: center;
  }
/***aside navbar-CLOSE***/
  main {
    margin-left: 0;
  }

  /***FOOOTER***/
  img.play_album {
    height: 30px;
  }
  #info_song li {
    font-size: 10px
  }

  #footer_left svg, #footer_right svg {
    height: 1.2em;
    width: 1.2em;
    margin-right: 2px;
  }

  #footer_left {
    padding-right: 0;
    width:37%;
  }

  #footer_center {
    padding: 0;
    padding-top: 10px;
  }
  #time_line_player {
      width: 60%;
    }
  #player svg.play-circle {
    height: 2em;
    width: 2em;
  }
  #player svg {
      height: 1.4em;
      margin: 0 3px;
    }

  #footer_right {
    padding-left: 0;
  }
  #volume {
    width: 30%;
  }


  /***FOOOTER-CLOSE***/


}
