/***DEBUG ***/
/* .debug {
  background-color: red;
}
.debug [class*="col-"]{
  height: 300px;
  background-color: pink;
  border: 1px solid darkolivegreen;
}
.debug [class*="offset"] {
  height: 300px;
  background-color: blue;
  border: 1px solid darkolivegreen;
} */

.bg_red {
  background-color: red;
  height: 90px;
  position: absolute;
  right: 0;
  left: 0;
  bottom: 0;
}

.bg_blue {
  background-color: blue;
}

.bg_yellow {
  background-color: greenyellow;
}
.bg_green {
  background-color: darkgreen;
}

/* ************************************** */
/***reset***/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/***reset-CLOSE***/
.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.icons_nav {
  height: 20px;
  width: 20px;
}

.fixed {
  position: fixed;
}

#wrapper_viewport {
  height: calc(100vh);
  width: 100%;
}
svg {
  height: 14px;
  width: 14px;
  fill: #5a5a5a;;
}
/***MENU-FIXED***/
#navbar_bottom span, #add_playlist span, #navbar_items span {
  padding-left: 10px;
  vertical-align: middle;
}

aside {
  height:calc(100% - 90px );
  width: 230px;
  padding: 15px 10px 5px 10px;
  top:0;
  left:0;
  background: #040404;
  min-height: 450px;

}
#header_logo {
  height: 65px;
}
#header_logo img{
  height: 40px;
}
#logo_xs {
  display: none;
}
/***NAV***/
nav {
  height: calc(100% - 65px);
}

/***navbar-top***/
#navbar_top {
  height: calc(100% - 90px);
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

#add_playlist, #navbar_items > div {
  line-height: 30px;
  height: 30px;
  margin:8px;

}

#navbar_items svg {
  height: 1.857em;
  width: 1.857em;
  font-size: 0;
  vertical-align: middle;
}
/***playlist***/
#playlist {
  margin: 20px 0;
}
#add_playlist {
 margin-top: 8px;
}


#add_playlist > svg {
  height: 2.142;
  width: 2.142;
  vertical-align: middle;
}

ul#list_myplaylist {
  overflow-y:auto;
  flex-shrink: 1;

}
ul#list_myplaylist li {
  list-style: none;
  margin-bottom: 17px;

}
/***navbar-top-CLOSE***/
/***navbar_bottom***/
#navbar_bottom {
  height: 80px;
  background-color: #040404;
  position: absolute;
  bottom: 0;
  width: calc(100% - 30px);

}
#download_app{
  line-height: 18px;
  height: 30px;
  border-bottom: 1px solid #b3b3b3;
}
#image_download {
  height: 18px;
  vertical-align: middle;
}
#profile {
  line-height: 50px;
}
#profile img {
  height: 30px;
  border-radius: 50%;
  vertical-align: middle;
}

/***navbar_bottom-CLOSE***/
  /***playlist-CLOSE***/
  /***NAV-CLOSE***/
  /***A-SIDE-CLOSE***/
#section_user_upgrade {
  height: 60px;
  position: fixed;
  right: 0;
  top:0;
  width: calc(100% - 230px);
  }

main {
  margin-left: 230px;
  height: 100%;
  font-size: 50px;
  overflow-y: scroll;
  background-color: #121212;
}

/***footer***/
footer {
  background: #282828;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
  height: 90px;
  width: 100%;
  bottom: 0;
  right: 0;
}
#footer_right, #footer_left {
  height: 90px;
  width: 230px;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
}
#footer_right svg, #option_player svg {
  height: 1.142em;
  width: 1.142em;
  margin: 0 5px;
}

.progress_bar {
  display: inline-block;
  height: 3.8px;
  background-color: #5a5a5a;
}
/***footer-left***/

#footer_left {
  padding-left: 10px;
}

.play_album {
  height: 40px;
}

ul#info_song {
  display: inline-block;
  line-height: 13px;
  vertical-align: super;
}
ul#info_song li {
  list-style: none;
}

 /***footer-left-CLOSE***/
/***footer-center***/
#footer_center {
  padding: 10px;
  height: 90px;
  text-align: center;
  width: 60%;
  align-self: center;
}
/***player***/
#player {
  margin-bottom: 10px;
}
#player svg{
  height: 1.28em;
  width: 1.28em;
  fill: white;
  vertical-align: middle;
  margin: 0 12px;
}
#player svg.play-circle {
  height: 2.32em;
  width: 2.32em;
}
#vertical-align {
  vertical-align: middle;
}
#time_line_player {
  width: 70%;
  vertical-align: middle;
}

/***footer-center-CLOSE***/
/***footer-right***/
#footer_right {
  padding-right: 10px;
}
#volume {
  width: 40%;
}

/***footer-right-CLOSE***/
